.example {
}

.component {
    border-radius: 5px;
    margin-top: 0px;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.item {
    background: linear-gradient(#fff, #eee);
    line-height: 30px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
}

.item:hover {
    cursor: pointer;
}


.axis-x .item {
    display: inline-block;
    line-height: 300px;
    padding: 0;
    text-align: center;
    width: 150px;
}

.axis-x .component {
    white-space: nowrap;
}

.square-item {
    background: linear-gradient(#fff, #eee);
    display: inline-block;
    line-height: 100px;
    text-align: center;
    width: 100px;
}

.even {
    background: linear-gradient(#ddd, #ccc);
}

.listimg {
    margin-top: 10px;
    height: 90px;
    width: 90px;
    margin-bottom: 10px;
}

.listname {
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-left: 20px;
}