@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&family=Tapestry&family=Water+Brush&display=swap');
.site-header {
    background-color: #79b1c4;
    height: 30px;
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 1px 5px #888888;
}

.menubutton {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;;
    font-size: medium;
    font-weight:lighter;
    margin-left: 0px;
    height: 100%;
    width: 170px;
    border: none;
    background-color: #79b1c4;
}

.menubutton:hover {
    background-color: #96b2bc;
}